<app-card>
    <app-card-header title="Systemhistorik" helpTextKey="it-system.archive.main" i18n-title>
  </app-card-header>

  <form [formGroup]="archiveForm">
    <app-datepicker [formGroup]="archiveForm" formName="takenIntoUsageDate" text="Ibrugtagningsdato" i18n-text></app-datepicker>
    <app-datepicker [formGroup]="archiveForm" formName="archivingDate" text="Udfasningsdato" i18n-text></app-datepicker>
    <app-textbox [formGroup]="archiveForm" formName="referenceName" text="Navngivning på ESDH sag" i18n-text></app-textbox>
    <app-textarea class="full-width" [formGroup]="archiveForm" formName="note" text="Kommentar" i18n-text></app-textarea>
     @for (referenceControl of archiveReferences.controls; track $index; let index = $index) {
      <div class="reference-row">
        <div class="reference-field">
          <app-edit-url-section
            [simpleLink$]="getReferenceObservable$(index)"
            title="Reference/link til ESDH"
            i18n-title
            [isDisabled]="true"
            [canClickLinkIfInputDisabled]="true"
          ></app-edit-url-section>
        </div>
      </div>
    }
    <app-textbox i18n-text text="Arkiveringsnavn" [formGroup]="archiveForm" formName="legacyName"></app-textbox>
    <app-textbox i18n-text text="Systemnavn (lokalt)" [formGroup]="archiveForm" formName="localName"></app-textbox>
    <app-textbox i18n-text text="Systemnavn ID (lokalt)" [formGroup]="archiveForm" formName="localId"></app-textbox>
    <app-textbox i18n-text text="Organisation" [formGroup]="archiveForm" formName="organization"></app-textbox>

  </form>
</app-card>
