<app-menu-button i18n-title buttonStyle="tertiary" iconType="dots">
  <app-menu-button-item i18n (itemClick)="onSaveClick()"> Gem </app-menu-button-item>
  <app-menu-button-item i18n [disabled]="disabled" (itemClick)="onApplyClck()"> Anvend </app-menu-button-item>
  <app-menu-button-item i18n [disabled]="disabled" (itemClick)="onDeleteClick()"> Slet </app-menu-button-item>
  <app-reset-to-org-columns-config-button
    *ngIf="hasResetButton && gridColumns$"
    [gridColumns$]="gridColumns$"
    [entityType]="entityType"
  >
  </app-reset-to-org-columns-config-button>
</app-menu-button>
