@use "theme.scss";

.form-section-top-padding {
  padding-top: theme.$padding-medium;
}

.center-no-fields-text {
  text-align: center;
}

.tooltip-margin {
  margin-left: theme.$padding-small;
  margin-top: theme.$padding-small;
}

.field-config-option {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0;
}

.recommended-checkbox {
  margin-left: 4px;
}

:host ::ng-deep {
  overflow: hidden;

  .mdc-button__label {
    display: flex;
    flex-grow: 1;
  }

  .recommended-checkbox {
    .app-checkbox-wrapper {
      min-height: 0;
      align-items: flex-start;
    }

    .mdc-form-field {
      align-items: center;
      column-gap: theme.$padding-smaller;
    }

    .mdc-checkbox {
      padding: 0;
      width: 14px;
      height: 14px;
      flex: 0 0 14px;
    }

    .mdc-checkbox__background {
      top: 0;
      left: 0;
      width: 14px;
      height: 14px;
    }

    mat-checkbox label {
      padding-right: 0;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.wrap-text {
  white-space: normal;
  word-wrap: break-word;
  text-align: start;
}
