<app-scrollbar-dialog [title]="data.title" [closable]="true" overflow="none" i18n-title>
    <app-native-table>
      <tbody>
        <th i18n-title> Organisation </th>
        <tr *ngFor="let usage of data.usingOrganizations">
          <td>
            <div class="align-content-apart">
              <app-paragraph [bold]="true">
              {{ usage.name }}
            </app-paragraph>
            <app-button i18n (buttonClick)="clickMigrateUsage(usage)" *ngIf="isItSystemDialog() && (canExecuteMigration$ | async)">Flyt</app-button>
            </div>
          </td>
        </tr>
      </tbody>
    </app-native-table>
</app-scrollbar-dialog>
