<app-dropdown
  *ngIf="!formGroup"
  [text]="getDropdownTitle()"
  [value]="value"
  valueField="uuid"
  [showDescription]="true"
  [data]="optionTypes$ | async"
  (valueChange)="onValueChange($event)"
  [searchFn]="searchFn"
  [loading]="loading$ | async"
></app-dropdown>

<app-dropdown
  *ngIf="formGroup"
  [text]="getDropdownTitle()"
  valueField="uuid"
  [showDescription]="true"
  [formGroup]="formGroup"
  formName="type"
  [data]="optionTypes$ | async"
  (valueChange)="onValueChange($event)"
  [searchFn]="searchFn"
  [loading]="loading$ | async"
></app-dropdown>
