<ng-container *ngIf="optionTypes$ | async as optionTypes">
  <app-dropdown
    *ngIf="!formGroup"
    [text]="getDropdownTitle()"
    [value]="value"
    valueField="uuid"
    [showDescription]="true"
    [showDescriptionLabel]="false"
    [data]="optionTypes"
    (valueChange)="onValueChange($event)"
    [searchFn]="searchFn"
    [loading]="loading$ | async"
  ></app-dropdown>

  <app-dropdown
    *ngIf="formGroup"
    [text]="getDropdownTitle()"
    valueField="uuid"
    [showDescription]="true"
    [showDescriptionLabel]="false"
    [formGroup]="formGroup"
    [formName]="formName ?? null"
    [data]="optionTypes"
    (valueChange)="onValueChange($event)"
    [searchFn]="searchFn"
    [loading]="loading$ | async"
  ></app-dropdown>
</ng-container>
