<app-card>
  <app-card-header title="Systemintegratorer"> </app-card-header>
  <app-collection-extension-button
    class="create-button"
    text=" Opret Systemintegrator"
    (clicked)="openAddSystemIntegratorDialog()"
    data-cy="open-add-system-integrator-dialog-button"
    i18n-text
  ></app-collection-extension-button>
  <ng-container *ngIf="systemIntegrators$ | async as systemIntegrators">
    <app-local-grid
      [data]="systemIntegrators"
      [loading]="loading$ | async"
      [columns]="gridColumns"
      [deletePermission]="true"
      (deleteEvent)="deleteSystemIntegrator($event)"
    >
    </app-local-grid>
  </ng-container>
</app-card>
