@use "mixins.scss";
@use "theme";
:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.notes {
  grid-column: 1 / 4;

  @include mixins.min-breakpoint {
    grid-column: 1 / 4;
  }
}

.input-two-thirds-column-width {
  @include mixins.two-thirds-column-width;
}

.flex {
  display: flex;
}

.center-vertically {
  display: flex;
  align-items: center;
  align-self: start;
  height: theme.$input-height;
}
