@if (formGroup) {
  <mat-form-field [formGroup]="formGroup" class="{{ size }}">
    <mat-label>
      {{ text }}
     <app-recommended-badge [visible]="recommended" [filled]="(formName && formGroup.controls[formName].value) === true"></app-recommended-badge>
    </mat-label>
    <input
      matInput
      type="text"
      [placeholder]="placeholder"
      [formControlName]="formName"
      (input)="formInputValueChange($event)"
      (focus)="focus(true)"
      (blur)="focus(false)"
      #input
      />
  </mat-form-field>
}

@if (!formGroup) {
  <mat-form-field class="{{ size }}">
    <mat-label>
      {{ text }}
      <app-recommended-badge [visible]="recommended" [filled]="value !== undefined && value !== null"></app-recommended-badge>
    </mat-label>
    <input
      matInput
      type="text"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [(ngModel)]="value"
      (ngModelChange)="inputChanged($event)"
      #input
      />
  </mat-form-field>
}
