<app-paragraph [cropOnOverflow]="true">
  @if (column.dataField) {
    <div>
      <ng-container *ngFor="let collectionItem of getProperty(column.dataField) as data; let i = index">
        @if (column.itemTooltipField) {
          <app-details-page-link-with-tooltip
            [toolTip]="getPropertyFromObject(collectionItem, column.itemTooltipField) ?? ''"
            linkFontSize="small"
            [itemType]="column.entityType"
            [itemPath]="collectionItem.id"
            [itemPathIncludesSubmodule]="column.style === 'page-link-array-with-submodules'"
            >{{ collectionItem.value }}
          </app-details-page-link-with-tooltip>
        }
        @if (!column.itemTooltipField) {
          <app-details-page-link
            linkFontSize="small"
            [itemType]="column.entityType"
            [itemPath]="collectionItem.id"
            [itemPathIncludesSubmodule]="column.style === 'page-link-array-with-submodules'"
            >{{ collectionItem.value }}</app-details-page-link
            >
            }{{ i < data.length - 1 ? (column.linkArraySeparator ?? ", ") : "" }}
          </ng-container>
        </div>
      }
    </app-paragraph>
