<app-dialog
  title="Opret hjælpetekst"
  i18n-title
>
<app-standard-vertical-content-grid>
  <app-textbox
  [formGroup]="formGroup"
  formName="key"
  text="Nøgle"
  i18n-text
  >
  </app-textbox>
  <div class="error-paragraph-height">
    <app-paragraph *ngIf="keyExists$ | async" color="error" i18n
      >Denne nøgle er allerede i brug</app-paragraph
    >
  </div>

  <app-textbox
  [formGroup]="formGroup"
  formName="title"
  text="Titel"
  i18n-text
  >
  </app-textbox>

  <app-textbox
  [formGroup]="formGroup"
  formName="description"
  text="Beskrivelse"
  i18n-text
  >
  </app-textbox>
</app-standard-vertical-content-grid>

<app-dialog-actions>
  <app-button
    (buttonClick)="onCreateHelpText()"
    [disabled]="!formGroup.valid || (keyExists$ | async) === true"
    i18n
    >Opret</app-button
  >
  <app-button buttonStyle="secondary" (buttonClick)="onCancel()" i18n>Annuller</app-button>
</app-dialog-actions>
</app-dialog>
