<app-standard-vertical-content-grid>
  <div class="center-item">
    <img src="assets/img/os2kitos.svg" height="33" width="116" />
  </div>
  <h3 class="title center-item">Kitos er Kommunernes IT Overblikssystem</h3>
  <app-sso-button></app-sso-button>
  <app-paragraph> Eller </app-paragraph>
  <app-textbox text="Email addresse"></app-textbox>
  <app-textbox text="Adgangskode"></app-textbox>
  <app-checkbox labelPosition="after" text="Log mig ikke ud"> </app-checkbox>
  <app-button> Log ind</app-button>
  <app-paragraph [bold]="true" class="center-item"> Glemt dit password?</app-paragraph>
</app-standard-vertical-content-grid>
