@use "theme";

.description {
  margin-top: theme.$padding-small;
  margin-bottom: theme.$padding-small;
  line-height: 110%;
}

ng-select {
  font-size: large;
}

input[type="checkbox"] {
  stroke-width: 1px; // Adjust this to change the thickness of the check
  transform: scale(1.5); // Adjust this to change the size of the check, 1 is the original size
  transform-origin: 50% 50%; // Adjust this to change the origin of the transformation
}

.select-option-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.select-option-text-margin {
  margin: 0;
}

.value-textbox-margin {
  margin-top: 8px;
}

.remove-tag-button {
  margin-left: auto;
  padding-right: theme.$padding-small;
}

.item-with-description {
  margin-top: theme.$padding-small;
  margin-bottom: theme.$padding-small;
  line-height: 110%;
}
