@import "theme";
@import "mixins";

:host {
  display: flex;
  flex: 1;
  font-size: 14px !important;
}

mat-form-field {
  flex: 1;
}

app-x-icon {
  width: 30px;
  height: 15px;
  display: flex;
  flex-direction: column;
}

app-search-icon {
  display: flex;
  padding-bottom: 3px;
}

app-trashcan-icon:hover {
  cursor: pointer;
}

@include mat-textbox-overflow-adjustment;
:host ::ng-deep mat-form-field {
  @include mat-form-sizes;
  @include mat-textbox-input-adjustment;
  @include mat-input-adjustment;
}

mat-form-field {
  @include input-background-white;
}

input {
  @include medium-font-size;
}

input.medium {
  padding-top: 3px;
}
