<app-card>
  <app-card-header
    title="IT System"
    i18n-title
    helpTextKey="data-processing.edit-registration.it-systems"
  ></app-card-header>

  <app-standard-vertical-content-grid>
    @if (anySystemUsages$ | async) {
      <app-native-table>
        <thead>
          <th i18n>Navn</th>
        </thead>
        <tbody>
          @for (systemUsage of systemUsages$ | async; track systemUsage) {
            <tr>
              <td>
                <app-content-space-between>
                  <app-details-page-link itemType="it-system-usage" [itemPath]="systemUsage.uuid">{{
                    systemUsage.name
                  }}</app-details-page-link>
                  @if ((hasModifyPermissions$ | async) === true) {
                    <app-icon-button
                      (buttonClick)="onDeleteSystem(systemUsage.uuid)"
                      data-cy="delete-system-button"
                      ><app-trashcan-icon></app-trashcan-icon
                    ></app-icon-button>
                  }
                </app-content-space-between>
              </td>
            </tr>
          }
        </tbody>
      </app-native-table>
    }
    @if ((anySystemUsages$ | async) === false) {
      <app-empty-state
        text="Ingen systemer tilføjet endnu"
        context="emptyTable"
        i18n-text
      ></app-empty-state>
    }
    @if ((hasModifyPermissions$ | async) === true) {
      <app-collection-extension-button
        (clicked)="onAddNewSystem()"
        text="Tilføj system"
        data-cy="add-system-button"
        i18n-text
      ></app-collection-extension-button>
    }
  </app-standard-vertical-content-grid>
</app-card>
