<app-card>
  <app-card-header
    [recommended]="(recommendedBadge$ | async)?.visible ?? false"
    [recommendedFilled]="(recommendedBadge$ | async)?.filled ?? false"
    title="Advis"
    helpTextKey="data-processing.edit-registration.advice"
    i18n-title
    data-cy="notification-card-title"
    >
  </app-card-header>
  @if (dataProcessingUuid$ | async; as dataProcessingUuid) {
    <app-notifications-table
      [hasModifyPermission]="hasModifyPermission$"
      [entityUuid]="dataProcessingUuid"
      ownerResourceType="DataProcessingRegistration"
      >
    </app-notifications-table>
  }
</app-card>
