<div>
  <mat-datepicker-toggle *ngIf="!disabled" [disableRipple]="true" matIconSuffix [for]="picker">
    <mat-icon svgIcon="custom-mat-calendar-toggle-icon" matDatepickerToggleIcon data-cy="datepicker-toggle"></mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker xPosition="end" yPosition="below"></mat-datepicker>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Open calendar">
    <mat-icon>calendar_today</mat-icon>
  </button>

  <mat-menu #menu="matMenu" class="icon-datepicker-menu">
    <mat-calendar [selected]="selectedDate" (selectedChange)="onDateSelected($event)"> </mat-calendar>
  </mat-menu>
</div>
