@import "theme";

.grid-container {
  display: grid;
  &.with-gap {
    &.small-gap {
      gap: $padding-small;
    }
    &.medium-gap {
      gap: $padding-medium;
    }
    &.large-gap {
      gap: $padding-large;
    }
  }
}
