<ng-container *ngIf="(removalConflicts$ | async) ?? [] as removalConflicts">
  <ng-container *ngIf="removalConflicts.length > 0">
    <app-accordion
      [isExpandedByDefault]="true"
      [title]="getAccordionTitle()"
      [checkboxDisabled]="true"
      [checkboxTooltipText]="getTooltipText()"
    >
      <app-native-table tableLayout="fixed">
        <thead>
          <tr>
            <th *ngIf="getMainEntityTitle() as mainEntityTitle">{{ mainEntityTitle }}</th>
            <th>{{ getEntityTitle() }}</th>
            <th i18n> Oprettet i (organisation) </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conflict of removalConflicts">
            <td *ngIf="getMainEntityTitle()">{{ conflict.mainEntityName }}</td>
            <td>{{ conflict.entityName }}</td>
            <td>{{ conflict.organizationName }}</td>
          </tr>
        </tbody>
      </app-native-table>
    </app-accordion>
  </ng-container>
</ng-container>
