@import "theme";
@import "mixins.scss";


:host {
  @include host-flex-column
}

.contract-selection-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: $padding-large;
  align-items: center;
}
