  @if (simpleLink$ | async; as simpleLink) {
    <app-link-textbox
      [title]="title"
      i18n-title
      [isDisabled]="isDisabled"
      [simpleLink$]="simpleLink$"
      placeholder="Fortegnelse"
      i18n-placeholder
      [recommended]="recommended"
      (iconClick)="openDirectoryUrlDialog(simpleLink)"
      (clearClick)="clearSimpleLink()"
    ></app-link-textbox>
  }
  @if ((simpleLink$ | async) === undefined) {
    <app-link-textbox
      [title]="title"
      i18n-title
      [isDisabled]="isDisabled"
      [recommended]="recommended"
      (iconClick)="openDirectoryUrlDialog()"
      [simpleLink$]="simpleLink$"
    ></app-link-textbox>
  }
