@import "theme";
@import "mixins";

:host {
  @include host-flex-column
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $padding-large;

  .notes {
    grid-column: 1 / 3;

    @include min-breakpoint {
      grid-column: 1 / 4;
    }
  }
}
