<app-dialog title="Delete contract" i18n-title data-cy="confirm-dialog">
  <div class="confirmation-container">
    <app-paragraph paragraphSize="medium" i18n>Er du sikker på, at du vil slette kontrakten</app-paragraph>
  </div>
  <app-dialog-actions>
    <!-- <app-button buttonStyle="secondary" size="large" (buttonClick)="CancelResult()">Cancel</app-button>
    <app-button size="large" (buttonClick)="OkResult()" data-cy="confirm-button">Confirm</app-button> -->
  </app-dialog-actions>
</app-dialog>
