<app-card>
  <app-card-header title="Generel information" helpTextKey="it-system.usage.gdpr.general" i18n-title></app-card-header>

  <app-form-grid [formGroup]="generalInformationForm">
    @if (purposeEnabled$ | async) {
      <app-textbox
        text="Behandlingsformål"
        i18n-text
        class="two-thirds-column-width"
        [formGroup]="generalInformationForm"
        formName="purpose"
        [maxLength]="250"
        [recommended]="(purposeRecommended$ | async) === true"
        (valueChange)="patchGdpr({ processingPurpose: $event })"
      ></app-textbox>
    }
        @if (documentationEnabled$ | async) {
      <app-edit-url-section
        title="Link til fortegnelse"
        [simpleLink$]="selectDirectoryDocumentation$"
        i18n-title
        data-cy="directory-documentation-link"
        (submitMethod)="patchSimpleLink($event)"
        (clearClick)="resetSimpleLink()"
        [isDisabled]="disableDirectoryDocumentationControl"
        [recommended]="(documentationRecommended$ | async) === true"
      ></app-edit-url-section>
    }
    @if (isDataProcessingAgreementRequiredEnabled$ | async) {
    <app-dropdown
      text="Kræver system databehandleraftale"
      i18n-text
      [formGroup]="generalInformationForm"
      formName="isDataProcessingAgreementRequired"
      [data]="isDataProcessingAgreementRequiredOptions"
      [recommended]="(isDataProcessingAgreementRequiredRecommended$ | async) === true"
      (valueChange)="patchGdpr({ isDataProcessingAgreementRequired: $event })"
    >
    </app-dropdown>
    }
  </app-form-grid>
</app-card>
