@import "theme";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  margin: 16px;
  position: relative;
}

.icon-container {
  background-color: $color-primary-20;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius-large;
  margin-bottom: $padding-medium-large;
}

.padding {
  padding: 4px;
}

.top-right-corner {
  position: absolute;
  top: 24px;
  right: 24px;
}
