<app-card
  *ngIf="publicMessage$ | async as publicMessage"
  [ngStyle]="{ 'min-height': mode === 'compact' ? '171px' : '150px' }"
>
  <div (click)="onEdit()" class="top-container" data-cy="open-public-message">
    <div class="icon-container">
      <app-icon [iconType]="config.iconType"></app-icon>
    </div>

    <div class="link-container">
      <app-status-chip [value]="activeStatus(publicMessage)" [valueDisplayType]="statusDisplayType"></app-status-chip>
      <app-external-link-icon></app-external-link-icon>
    </div>
  </div>

  <app-paragraph paragraphSize="large" [bold]="true"> {{ publicMessage.title }}</app-paragraph>
  <div class="padding"></div>
  <app-paragraph [dimmed]="true" paragraphSize="medium"> {{ publicMessage.shortDescription }}</app-paragraph>
</app-card>
