<app-card>
  <div (click)="onEdit()" class="top-container">
    <div class="icon-container">
      <app-icon [iconType]="iconType"></app-icon>
    </div>

    <div class="link-container">
      <app-status-chip [value]="publicMessage.status" [valueDisplayType]="statusDisplayType"></app-status-chip>
      <app-external-link-icon></app-external-link-icon>
    </div>
  </div>

  <app-paragraph paragraphSize="large" [bold]="true"> {{ publicMessage.title }}</app-paragraph>
  <div class="padding"></div>
  <app-paragraph [dimmed]="true" paragraphSize="medium"> {{ publicMessage.shortDescription }}</app-paragraph>
</app-card>
