<app-dialog title="Rediger" i18n-title>
  <form [formGroup]="formGroup" (ngSubmit)="onSave()">
    <app-standard-vertical-content-grid>
      <app-textbox text="Titel" [formGroup]="formGroup" formName="title"></app-textbox>
      <app-dropdown [data]="statusTypeOptions" text="Status" [formGroup]="formGroup" formName="status"></app-dropdown>
      <app-textarea text="Beskrivelse" [formGroup]="formGroup" formName="shortDescription"></app-textarea>
      <app-rich-text-editor [formControl]="formGroup.controls.longDescription"></app-rich-text-editor>
    </app-standard-vertical-content-grid>
    <app-dialog-actions>
      <app-button buttonStyle="secondary" (buttonClick)="close()" i18n> Luk </app-button>
      <app-button type="submit" [disabled]="!formGroup.valid" i18n> Gem </app-button>
    </app-dialog-actions>
  </form>
</app-dialog>
