<ng-container>
  <div *ngIf="title" class="header title-wrap-on-overflow" [ngClass]="{ nested: nested }">
    <app-button *ngIf="nested" class="arrow-button" buttonStyle="tertiary" (buttonClick)="close()">
      <app-arrow-left-icon></app-arrow-left-icon>
    </app-button>
    <div class="something non-nested-width">
      <h3 class="title-align-bottom">
        <span class="title-container">
          {{ title }}
        </span>
      </h3>
      <app-help-button *ngIf="helpText" [helpTextKey]="helpText"></app-help-button>
    </div>
  </div>
</ng-container>

<app-button class="close-button" buttonStyle="tertiary" (buttonClick)="close()" *ngIf="closable"
  ><app-x-icon></app-x-icon
></app-button>
