<app-system-relation-dialog
  [formGroup]="formGroup"
  [saveFunction]="save"
  title="Opret relation"
  >
  <app-connected-multi-select-dropdown
        text="Søg efter snitflader"
        valueField="uuid"
        [data$]="interfacesAsMultiSelectDropdownItems$"
        [isLoading$]="interfacesLoading$"
        [resetSubject$]="interfacesDropdownResetSubject$"
        (filterChange)="interfaceFilterChange($event)"
        (valueChange)="interfaceValueChange($event)"
        i18n-text
      >
      </app-connected-multi-select-dropdown>
</app-system-relation-dialog>

