<app-card>
  <app-card-header
    title="Hjælpetekster"
    i18n-title
  ></app-card-header>
  <app-native-table tableLayout="fixed">
    <thead>
      <th i18n>Titel</th>
      <th i18n>Nøgle</th>
    </thead>
    <tbody>

      <tr *ngFor="let helpText of helpTexts$ | async">
        <td>
          <app-paragraph> {{ helpText.Title }} </app-paragraph>
        </td>
        <td>
          <app-content-space-between>
            <app-paragraph> {{ helpText.Key }} </app-paragraph>
            <app-table-row-actions>
              <app-icon-button (buttonClick)="onEdit(helpText)">
                <app-pencil-icon></app-pencil-icon>
              </app-icon-button>
              <app-icon-button (buttonClick)="onDelete(helpText)">
                <app-trashcan-icon></app-trashcan-icon>
              </app-icon-button>
            </app-table-row-actions>
          </app-content-space-between>
        </td>
      </tr>
    </tbody>
  </app-native-table>
</app-card>

