<app-dialog [title]="title" overflow="none">
  <div class="dialog-content">
    <form [formGroup]="selectedByFieldForm">
      <div class="authorization-grid">
        <div class="grid-header field-column">Felt</div>
        <div class="grid-header role-column">{{ suppliersLabel }}</div>
        <div class="grid-header role-column">{{ municipalityLabel }}</div>
        <div class="grid-header role-column">{{ sharedLabel }}</div>

        @for (field of fields$ | async; track fieldTrackBy($index, field)) {
          @if (field.fieldKey) {
            <div class="field-label">
              <strong>{{ getLabelFromFieldKey(field.fieldKey) }}</strong>
            </div>
            <app-radio-buttons
              class="field-options"
              [formGroup]="selectedByFieldForm"
              [formName]="field.fieldKey"
              [options]="controlStateOptions"
            >
            </app-radio-buttons>
          }
        }
      </div>
    </form>
  </div>

  <div class="dialog-actions">
    <app-dialog-actions>
      <app-button buttonStyle="secondary" (buttonClick)="onCancel()" i18n>Annuller</app-button>
      <app-button (buttonClick)="onSave()" i18n>Gem</app-button>
    </app-dialog-actions>
  </div>
</app-dialog>
