@use "theme";
@use "mixins";

@include mixins.ng-select-default-style;

.description {
  margin-top: theme.$padding-small;
  margin-bottom: theme.$padding-small;
  line-height: 110%;
}

ng-select {
  font-size: large;
  @include mixins.input-background-white;
}

@include mixins.ng-select-medium-styles;

.recommended-label-row {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.recommended-label-text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
