@use "theme";
@use "mixins";

.description {
  margin-top: theme.$padding-small;
  margin-bottom: theme.$padding-small;
  line-height: 110%;
}

ng-select {
  font-size: large;
}

:host ::ng-deep .ng-select-container {
  background-color: theme.$color-white;
}
