<app-loading *ngIf="(loading$ | async) !== false"></app-loading>
<ng-container *ngIf="(loading$ | async) === false">
  <app-card>
    <ng-container *ngIf="email$ | async"> A valid request </ng-container>
    <ng-container *ngIf="(email$ | async) === undefined">
      <h3 i18n>Nyt password</h3>
      <app-paragraph paragraphSize="large" i18n>
        Din anmodning om at nulstille dit password blev ikke fundet i systemet. Det kan allerede være brugt, eller den
        kan være udløbet. Gå til <a [routerLink]="['/', routerLink]">Glemt password?</a> og prøv igen.
      </app-paragraph>
    </ng-container>
  </app-card>
</ng-container>
