<app-loading *ngIf="(loading$ | async) !== false"></app-loading>
<ng-container *ngIf="(loading$ | async) === false">
  <app-card>
    <app-standard-vertical-content-grid>
      <h3 i18n>Nyt password</h3>
      <ng-container *ngIf="true || (email$ | async)">
        <app-textbox [value]="(email$ | async) ?? ''" text="Email adresse" i18n-text [disabled]="true"></app-textbox>
        <app-textbox
          [formGroup]="formGroup"
          type="password"
          formName="password"
          text="Nyt password"
          i18n-text
        ></app-textbox>
        <app-textbox
          [formGroup]="formGroup"
          type="password"
          formName="confirmPassword"
          text="Gentag nyt password"
          i18n-text
        ></app-textbox>
        <app-paragraph [dimmed]="true" i18n> Passwordet skal indeholde mindst 6 tegn. </app-paragraph>
        <app-button (buttonClick)="onResetPassword()" [disabled]="!formGroup.valid" i18n> Skift password </app-button>
      </ng-container>
      <ng-container *ngIf="(email$ | async) === undefined">
        <app-paragraph [displayFlex]="false" paragraphSize="large" i18n>
          Din anmodning om at nulstille dit password blev ikke fundet i systemet. Det kan allerede være brugt, eller den
          kan være udløbet. Gå til <a [routerLink]="['/', routerLink]">Glemt password?</a> og prøv igen.
        </app-paragraph>
      </ng-container>
    </app-standard-vertical-content-grid>
  </app-card>
</ng-container>
