@import "theme";

.help-text-container {
  text-align: start;
  max-height: 60vh;
  overflow-y: auto;
}

.dialog-footer {
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  z-index: 10;
}
