<app-scrollbar-dialog [title]="getTitle()" i18n-title>
  <app-loading *ngIf="(deletingOrganization$ | async) === true"></app-loading>
  <ng-container *ngIf="(deletingOrganization$ | async) === false">
    <ng-container *ngIf="(hasRemovalConflicts() | async) === undefined">
      <app-loading></app-loading>
    </ng-container>
    <ng-container *ngIf="(hasRemovalConflicts() | async) === true">
      <app-standard-vertical-content-grid>
        <app-removal-conflict-table
          [removalConflicts$]="contractConflicts$"
          [header]="{ mainEntityTitle: undefined, entityTitle: 'Konflikt' }"
          title="Kontrakt konflikter"
          tooltipText="Kontrakter hvor organisationen Fælles Kommune er sat som Leverandør, og hvor feltet dermed nulstilles"
        >
        </app-removal-conflict-table>
      </app-standard-vertical-content-grid>
      <app-checkbox
        [(value)]="hasAcceptedConsequences"
        labelPosition="after"
        text="Jeg forstår og accepterer ovenstående konsekvenser"
        i18n-text
      >
      </app-checkbox>
    </ng-container>
    <ng-container *ngIf="(hasRemovalConflicts() | async) === false">
      <app-paragraph i18n> Organisationen kan slettes uden tværgående konsekvenser. </app-paragraph>
    </ng-container>
    <app-dialog-actions>
      <app-button buttonStyle="secondary" (buttonClick)="onCancel()" i18n>Fortryd</app-button>
      <app-button color="warn" (buttonClick)="onDelete()" [disabled]="(canSubmit() | async) === false" i18n
        >Slet</app-button
      >
    </app-dialog-actions>
  </ng-container>
</app-scrollbar-dialog>
