<app-scrollbar-dialog [title]="getTitle()" i18n-title>
  <app-loading *ngIf="(deletingOrganization$ | async) === true"></app-loading>
  <ng-container *ngIf="(deletingOrganization$ | async) === false">
    <ng-container *ngIf="(hasRemovalConflicts() | async) === undefined">
      <app-loading></app-loading>
    </ng-container>
    <ng-container *ngIf="(hasRemovalConflicts() | async) === true">
      <app-standard-vertical-content-grid>
        <app-paragraph [bold]="true" paragraphSize="x-large" i18n>
          Opsummering af konsekvenser ifm. sletning af organisationer i Kitos
        </app-paragraph>
        <app-paragraph i18n>
          For at sikre datakvaliteten i Kitos har Global admin mulighed for at slette en organisation
          (leverandør/databehandler/underdatabehandler) på trods af, at der måtte være kontrakter eller databehandler
          registreringer knyttet op på denne.
        </app-paragraph>
        <ng-container *ngFor="let conflictType of conflictTypeOptions">
          <app-removal-conflict-table
            [type]="conflictType"
            [removalConflicts$]="removalConflicts$"
            [organizationName]="organization.Name"
          >
          </app-removal-conflict-table>
        </ng-container>
      </app-standard-vertical-content-grid>
    </ng-container>
    <ng-container *ngIf="(hasRemovalConflicts() | async) === false">
      <app-paragraph i18n> Organisationen kan slettes uden tværgående konsekvenser. </app-paragraph>
    </ng-container>
  </ng-container>
  <app-dialog-actions>
    <app-checkbox
      [(value)]="hasAcceptedConsequences"
      labelPosition="after"
      text="Jeg forstår og accepterer ovenstående konsekvenser"
      i18n-text
    >
    </app-checkbox>
  </app-dialog-actions>
  <app-dialog-actions>
    <app-button buttonStyle="secondary" (buttonClick)="onCancel()" i18n>Fortryd</app-button>
    <app-button color="warn" (buttonClick)="onDelete()" [disabled]="(canSubmit() | async) === false" i18n
      >Slet</app-button
    >
  </app-dialog-actions>
</app-scrollbar-dialog>
