<ng-container *ngIf="optionTypeItems$ | async as optionTypeItems">
  <app-accordion
    [title]="title"
    [disabled]="disableAccordion"
    [isExpandedByDefault]="expandedByDefault"
    data-cy="option-type-accordion"
  >
    <div class="create-button-container-align-right">
      <app-button buttonStyle="primary" (buttonClick)="onCreate()" i18n data-cy="create-button">
        Opret {{ getCreateButtonType() }}</app-button
      >
    </div>
    <app-loading *ngIf="isLoading$ | async"></app-loading>
    <app-global-option-type-grid
      [optionType]="optionType"
      [optionTypeItems]="optionTypeItems"
      [showDescription]="showDescription"
      [showWriteAccess]="showWriteAccess"
    ></app-global-option-type-grid>
  </app-accordion>
</ng-container>
