<app-loading *ngIf="loading$ | async"></app-loading>

<ng-container *ngIf="(isAuthenticated$ | async) !== true">
  <div class="container">
    <div class="left">
      <app-login></app-login>
    </div>
    <div class="right">
      <div class="grid-container">

        <app-public-message [publicMessage]="temp" iconType="document"></app-public-message>
        <app-public-message [publicMessage]="temp" iconType="document"></app-public-message>
        <app-public-message [publicMessage]="temp" iconType="document"></app-public-message>
        <app-public-message [publicMessage]="temp" iconType="document"></app-public-message>
        <app-public-message [publicMessage]="temp" iconType="document"></app-public-message>
        <app-public-message [publicMessage]="temp" iconType="document"></app-public-message>
      </div>
    </div>
  </div>
</ng-container>
