@import "theme";
@import "mixins";

:host {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex-grow: 1;
  background-color: white;
  @include center-items-container;
}

.right {
  width: 40%;
  min-width: 800px;
  background-color: $color-primary-10;
  @include center-items-container;
}

app-login {
  display: block;
  max-width: 440px !important;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}
