<app-loading *ngIf="loading$ | async"></app-loading>

<ng-container *ngIf="(isAuthenticated$ | async) !== true">
  <div class="container">
    <div class="left">
      <app-login></app-login>
    </div>
    <div class="right">
      <div class="grid-container login-grid-columns">
        <app-public-message *ngFor="let config of messageConfigs" mode="compact" [config]="config"></app-public-message>
      </div>
    </div>
  </div>
</ng-container>
<div class="authenticated-frontpage">
  <app-standard-vertical-content-grid>
    <app-standard-vertical-content-grid class="info-section-container">
      <div class="center-item">
        <h2 class="title info-section-max-width">Kitos er Kommunernes IT Overblikssystem</h2>
      </div>
      <div class="center-item">
        <app-paragraph class="center-text info-section-max-width" [dimmed]="true">
          Kitos er en open-source web-baseret løsning, der anvendes af 76 kommuner. Kitos skaber overblik over den
          samlede kommunale IT-portefølje.
        </app-paragraph>
      </div>
      <div class="center-item">
        <app-button (buttonClick)="goToKitosPage()" i18n>Læs mere om Kitos</app-button>
      </div>
    </app-standard-vertical-content-grid>
    <div class="grid-container authenticated-grid-columns">
      <app-public-message *ngFor="let config of messageConfigs" mode="normal" [config]="config"></app-public-message>
    </div>
  </app-standard-vertical-content-grid>
</div>
