@import "theme";

:host {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex-grow: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  width: 40%;
  min-width: 800px;
  background-color: $color-primary-10;
}

app-login-v2 {
  display: block;
  max-width: 440px !important;
}
